드라이브 마운트

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

패키지 설치

In [2]:
import re
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
import warnings 
warnings.filterwarnings(action='ignore')

경로 설정 및 파일 불러오기

In [3]:
!unzip -q '/content/drive/My Drive/open.zip' -d '/content/drive/My Drive/NLP/'

replace /content/drive/My Drive/NLP/sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace /content/drive/My Drive/NLP/test_x.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace /content/drive/My Drive/NLP/train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y

In [4]:
train = pd.read_csv('/content/drive/My Drive/NLP/train.csv', encoding = 'utf-8')
test = pd.read_csv('/content/drive/My Drive/NLP/test_x.csv', encoding = 'utf-8')
sample_submission = pd.read_csv('/content/drive/My Drive/NLP/sample_submission.csv', encoding = 'utf-8')

In [5]:
train

       index                                               text  author
0          0  He was almost choking. There was so much, so m...       3
1          1             “Your sister asked for it, I suppose?”       2
2          2   She was engaged one day as she walked, in per...       1
3          3  The captain was in the porch, keeping himself ...       4
4          4  “Have mercy, gentlemen!” odin flung up his han...       3
...      ...                                                ...     ...
54874  54874  “Is that you, Mr. Smith?” odin whispered. “I h...       2
54875  54875  I told my plan to the captain, and between us ...       4
54876  54876   "Your sincere well-wisher, friend, and sister...       1
54877  54877            “Then you wanted me to lend you money?”       3
54878  54878  It certainly had not occurred to me before, bu...       0

[54879 rows x 3 columns]

In [6]:
test

       index                                               text
0          0  “Not at all. I think she is one of the most ch...
1          1  "No," replied he, with sudden consciousness, "...
2          2  As the lady had stated her intention of scream...
3          3  “And then suddenly in the silence I heard a so...
4          4  His conviction remained unchanged. So far as I...
...      ...                                                ...
19612  19612  At the end of another day or two, odin growing...
19613  19613  All afternoon we sat together, mostly in silen...
19614  19614   odin, having carried his thanks to odin, proc...
19615  19615  Soon after this, upon odin's leaving the room,...
19616  19616  And all the worse for the doomed man, that the...

[19617 rows x 2 columns]

In [7]:
sample_submission

       index  0  1  2  3  4
0          0  0  0  0  0  0
1          1  0  0  0  0  0
2          2  0  0  0  0  0
3          3  0  0  0  0  0
4          4  0  0  0  0  0
...      ... .. .. .. .. ..
19612  19612  0  0  0  0  0
19613  19613  0  0  0  0  0
19614  19614  0  0  0  0  0
19615  19615  0  0  0  0  0
19616  19616  0  0  0  0  0

[19617 rows x 6 columns]

전처리

In [8]:
#부호를 제거해주는 함수
def alpha_num(text):
    return re.sub(r'[^A-Za-z0-9 ]', '', text)

train['text']=train['text'].apply(alpha_num)

In [9]:
#부호가 사라진 것을 확인할 수 있습니다.
train

       index                                               text  author
0          0  He was almost choking There was so much so muc...       3
1          1                 Your sister asked for it I suppose       2
2          2   She was engaged one day as she walked in peru...       1
3          3  The captain was in the porch keeping himself c...       4
4          4  Have mercy gentlemen odin flung up his hands D...       3
...      ...                                                ...     ...
54874  54874  Is that you Mr Smith odin whispered I hardly d...       2
54875  54875  I told my plan to the captain and between us w...       4
54876  54876   Your sincere wellwisher friend and sister LUC...       1
54877  54877               Then you wanted me to lend you money       3
54878  54878  It certainly had not occurred to me before but...       0

[54879 rows x 3 columns]

In [10]:
# 불용어 제거해주는 함수
def remove_stopwords(text):
    final_text = []
    for i in text.split():
        if i.strip().lower() not in stopwords:
            final_text.append(i.strip())
    return " ".join(final_text)

# 불용어
stopwords = [ "a", "about", "above", "after", "again", "against", "all", "am", "an", "and", "any", "are", "as", 
             "at", "be", "because", "been", "before", "being", "below", "between", "both", "but", "by", "could", 
             "did", "do", "does", "doing", "down", "during", "each", "few", "for", "from", "further", "had", "has", 
             "have", "having", "he", "he'd", "he'll", "he's", "her", "here", "here's", "hers", "herself", "him", "himself", 
             "his", "how", "how's", "i", "i'd", "i'll", "i'm", "i've", "if", "in", "into", "is", "it", "it's", "its", "itself", 
             "let's", "me", "more", "most", "my", "myself", "nor", "of", "on", "once", "only", "or", "other", "ought", "our", "ours", 
             "ourselves", "out", "over", "own", "same", "she", "she'd", "she'll", "she's", "should", "so", "some", "such", "than", "that", 
             "that's", "the", "their", "theirs", "them", "themselves", "then", "there", "there's", "these", "they", "they'd", "they'll", 
             "they're", "they've", "this", "those", "through", "to", "too", "under", "until", "up", "very", "was", "we", "we'd", "we'll", 
             "we're", "we've", "were", "what", "what's", "when", "when's", "where", "where's", "which", "while", "who", "who's", "whom", 
             "why", "why's", "with", "would", "you", "you'd", "you'll", "you're", "you've", "your", "yours", "yourself", "yourselves" ]

In [11]:
#전처리 적용
train['text'] = train['text'].str.lower()
test['text'] = test['text'].str.lower()
train['text'] = train['text'].str.lower().apply(alpha_num).apply(remove_stopwords)
test['text'] = test['text'].str.lower().apply(alpha_num).apply(remove_stopwords)

In [12]:
# train test 분리
X_train = np.array([x for x in train['text']])
X_test = np.array([x for x in test['text']])
y_train = np.array([x for x in train['author']])

In [13]:
X_train

array(['almost choking much much wanted say strange exclamations came lips pole gazed fixedly bundle notes hand looked odin evident perplexity',
       'sister asked suppose',
       'engaged one day walked perusing janes last letter dwelling passages proved jane not written spirits instead surprised mr odin saw looking odin meeting putting away letter immediately forcing smile said',
       ..., 'sincere wellwisher friend sister lucy odin',
       'wanted lend money', 'certainly not occurred said yes like'],
      dtype='<U1433')

모델링

In [14]:
#파라미터 설정
vocab_size = 20000
embedding_dim = 64
max_length = 500
padding_type='post'
#oov_tok = "<OOV>"

In [15]:
#tokenizer에 fit
tokenizer = Tokenizer(num_words = vocab_size)#, oov_token=oov_tok)
tokenizer.fit_on_texts(X_train)
word_index = tokenizer.word_index

In [16]:
#데이터를 sequence로 변환해주고 padding 해줍니다.
train_sequences = tokenizer.texts_to_sequences(X_train)
train_padded = pad_sequences(train_sequences, padding=padding_type, maxlen=max_length)

test_sequences = tokenizer.texts_to_sequences(X_test)
test_padded = pad_sequences(test_sequences, padding=padding_type, maxlen=max_length)

In [17]:
#가벼운 NLP모델 생성
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(vocab_size, embedding_dim, input_length=max_length),
    tf.keras.layers.GlobalAveragePooling1D(),
    tf.keras.layers.Dense(24, activation='relu'),
    tf.keras.layers.Dense(5, activation='softmax')
])

In [18]:
# compile model
model.compile(loss='sparse_categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

# model summary
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 500, 64)           1280000
_________________________________________________________________
global_average_pooling1d (Gl (None, 64)                0
_________________________________________________________________
dense (Dense)                (None, 24)                1560
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 125
=================================================================
Total params: 1,281,685
Trainable params: 1,281,685
Non-trainable params: 0
_________________________________________________________________
None

In [20]:
# fit model
num_epochs = 100
history = model.fit(train_padded, y_train, 
                    epochs=num_epochs, verbose=2, 
                    validation_split=0.2)

Epoch 1/100
1372/1372 - 24s - loss: 0.4712 - accuracy: 0.8288 - val_loss: 0.8149 - val_accuracy: 0.7086
Epoch 2/100
1372/1372 - 23s - loss: 0.4575 - accuracy: 0.8345 - val_loss: 0.7996 - val_accuracy: 0.7199
Epoch 3/100
1372/1372 - 22s - loss: 0.4408 - accuracy: 0.8406 - val_loss: 0.8134 - val_accuracy: 0.7206
Epoch 4/100
1372/1372 - 21s - loss: 0.4280 - accuracy: 0.8458 - val_loss: 0.8306 - val_accuracy: 0.7220
Epoch 5/100
1372/1372 - 21s - loss: 0.4172 - accuracy: 0.8481 - val_loss: 0.8213 - val_accuracy: 0.7269
Epoch 6/100
1372/1372 - 22s - loss: 0.4064 - accuracy: 0.8534 - val_loss: 0.8437 - val_accuracy: 0.7167
Epoch 7/100
1372/1372 - 22s - loss: 0.3974 - accuracy: 0.8557 - val_loss: 0.8466 - val_accuracy: 0.7248
Epoch 8/100
1372/1372 - 22s - loss: 0.3876 - accuracy: 0.8587 - val_loss: 0.8680 - val_accuracy: 0.7249
Epoch 9/100
1372/1372 - 23s - loss: 0.3818 - accuracy: 0.8617 - val_loss: 0.8714 - val_accuracy: 0.7200
Epoch 10/100
1372/1372 - 22s - loss: 0.3714 - accuracy: 0.8662 - val_loss: 0.8831 - val_accuracy: 0.7228
Epoch 11/100
1372/1372 - 22s - loss: 0.3624 - accuracy: 0.8702 - val_loss: 1.0452 - val_accuracy: 0.6990
Epoch 12/100
1372/1372 - 22s - loss: 0.3624 - accuracy: 0.8677 - val_loss: 0.9050 - val_accuracy: 0.7225
Epoch 13/100
1372/1372 - 22s - loss: 0.3486 - accuracy: 0.8742 - val_loss: 0.9245 - val_accuracy: 0.7211
Epoch 14/100
1372/1372 - 22s - loss: 0.3430 - accuracy: 0.8750 - val_loss: 0.9311 - val_accuracy: 0.7198
Epoch 15/100
1372/1372 - 22s - loss: 0.3361 - accuracy: 0.8774 - val_loss: 1.0065 - val_accuracy: 0.6947
Epoch 16/100
1372/1372 - 24s - loss: 0.3294 - accuracy: 0.8811 - val_loss: 0.9619 - val_accuracy: 0.7190
Epoch 17/100
1372/1372 - 23s - loss: 0.3195 - accuracy: 0.8842 - val_loss: 1.0426 - val_accuracy: 0.7058
Epoch 18/100
1372/1372 - 22s - loss: 0.3148 - accuracy: 0.8860 - val_loss: 0.9868 - val_accuracy: 0.7184
Epoch 19/100
1372/1372 - 22s - loss: 0.3089 - accuracy: 0.8886 - val_loss: 0.9938 - val_accuracy: 0.7179
Epoch 20/100
1372/1372 - 22s - loss: 0.3038 - accuracy: 0.8905 - val_loss: 1.0127 - val_accuracy: 0.7189
Epoch 21/100
1372/1372 - 22s - loss: 0.2970 - accuracy: 0.8919 - val_loss: 1.0392 - val_accuracy: 0.7137
Epoch 22/100
1372/1372 - 22s - loss: 0.2935 - accuracy: 0.8942 - val_loss: 1.0172 - val_accuracy: 0.7225
Epoch 23/100
1372/1372 - 22s - loss: 0.2893 - accuracy: 0.8948 - val_loss: 1.1325 - val_accuracy: 0.7045
Epoch 24/100
1372/1372 - 22s - loss: 0.2803 - accuracy: 0.8978 - val_loss: 1.1064 - val_accuracy: 0.7048
Epoch 25/100
1372/1372 - 22s - loss: 0.2784 - accuracy: 0.8983 - val_loss: 1.0806 - val_accuracy: 0.7218
Epoch 26/100
1372/1372 - 22s - loss: 0.2693 - accuracy: 0.9030 - val_loss: 1.0720 - val_accuracy: 0.7198
Epoch 27/100
1372/1372 - 22s - loss: 0.2668 - accuracy: 0.9030 - val_loss: 1.1097 - val_accuracy: 0.7126
Epoch 28/100
1372/1372 - 22s - loss: 0.2618 - accuracy: 0.9048 - val_loss: 1.1058 - val_accuracy: 0.7149
Epoch 29/100
1372/1372 - 22s - loss: 0.2609 - accuracy: 0.9034 - val_loss: 1.1155 - val_accuracy: 0.7163
Epoch 30/100
1372/1372 - 24s - loss: 0.2556 - accuracy: 0.9067 - val_loss: 1.1300 - val_accuracy: 0.7165
Epoch 31/100
1372/1372 - 24s - loss: 0.2559 - accuracy: 0.9063 - val_loss: 1.1946 - val_accuracy: 0.7032
Epoch 32/100
1372/1372 - 23s - loss: 0.2507 - accuracy: 0.9083 - val_loss: 1.1567 - val_accuracy: 0.7162
Epoch 33/100
1372/1372 - 22s - loss: 0.2453 - accuracy: 0.9107 - val_loss: 1.1774 - val_accuracy: 0.7154
Epoch 34/100
1372/1372 - 22s - loss: 0.2420 - accuracy: 0.9116 - val_loss: 1.1699 - val_accuracy: 0.7164
Epoch 35/100
1372/1372 - 22s - loss: 0.2394 - accuracy: 0.9125 - val_loss: 1.1708 - val_accuracy: 0.7198
Epoch 36/100
1372/1372 - 22s - loss: 0.2368 - accuracy: 0.9122 - val_loss: 1.2082 - val_accuracy: 0.7070
Epoch 37/100
1372/1372 - 22s - loss: 0.2374 - accuracy: 0.9130 - val_loss: 1.2044 - val_accuracy: 0.7157
Epoch 38/100
1372/1372 - 22s - loss: 0.2342 - accuracy: 0.9141 - val_loss: 1.2128 - val_accuracy: 0.7178
Epoch 39/100
1372/1372 - 22s - loss: 0.2327 - accuracy: 0.9144 - val_loss: 1.3085 - val_accuracy: 0.7108
Epoch 40/100
1372/1372 - 22s - loss: 0.2281 - accuracy: 0.9152 - val_loss: 1.2419 - val_accuracy: 0.7177
Epoch 41/100
1372/1372 - 22s - loss: 0.2239 - accuracy: 0.9170 - val_loss: 1.2766 - val_accuracy: 0.7106
Epoch 42/100
1372/1372 - 22s - loss: 0.2234 - accuracy: 0.9173 - val_loss: 1.2701 - val_accuracy: 0.7179
Epoch 43/100
1372/1372 - 22s - loss: 0.2278 - accuracy: 0.9159 - val_loss: 1.2897 - val_accuracy: 0.7081
Epoch 44/100
1372/1372 - 23s - loss: 0.2220 - accuracy: 0.9180 - val_loss: 1.2706 - val_accuracy: 0.7166
Epoch 45/100
1372/1372 - 23s - loss: 0.2210 - accuracy: 0.9176 - val_loss: 1.3037 - val_accuracy: 0.7155
Epoch 46/100
1372/1372 - 22s - loss: 0.2169 - accuracy: 0.9194 - val_loss: 1.2988 - val_accuracy: 0.7144
Epoch 47/100
1372/1372 - 21s - loss: 0.2188 - accuracy: 0.9184 - val_loss: 1.3109 - val_accuracy: 0.7131
Epoch 48/100
1372/1372 - 21s - loss: 0.2154 - accuracy: 0.9203 - val_loss: 1.3199 - val_accuracy: 0.7121
Epoch 49/100
1372/1372 - 22s - loss: 0.2139 - accuracy: 0.9214 - val_loss: 1.3446 - val_accuracy: 0.7140
Epoch 50/100
1372/1372 - 22s - loss: 0.2169 - accuracy: 0.9203 - val_loss: 1.3716 - val_accuracy: 0.7091
Epoch 51/100
1372/1372 - 22s - loss: 0.2123 - accuracy: 0.9216 - val_loss: 1.4605 - val_accuracy: 0.6983
Epoch 52/100
1372/1372 - 22s - loss: 0.2121 - accuracy: 0.9208 - val_loss: 1.3876 - val_accuracy: 0.7122
Epoch 53/100
1372/1372 - 21s - loss: 0.2090 - accuracy: 0.9228 - val_loss: 1.4215 - val_accuracy: 0.7016
Epoch 54/100
1372/1372 - 21s - loss: 0.2091 - accuracy: 0.9217 - val_loss: 1.4459 - val_accuracy: 0.7031
Epoch 55/100
1372/1372 - 22s - loss: 0.2077 - accuracy: 0.9231 - val_loss: 1.4880 - val_accuracy: 0.6853
Epoch 56/100
1372/1372 - 22s - loss: 0.2064 - accuracy: 0.9227 - val_loss: 1.4476 - val_accuracy: 0.7090
Epoch 57/100
1372/1372 - 24s - loss: 0.2017 - accuracy: 0.9258 - val_loss: 1.4212 - val_accuracy: 0.7074
Epoch 58/100
1372/1372 - 24s - loss: 0.2040 - accuracy: 0.9239 - val_loss: 1.4615 - val_accuracy: 0.7045
Epoch 59/100
1372/1372 - 23s - loss: 0.2027 - accuracy: 0.9245 - val_loss: 1.4463 - val_accuracy: 0.7060
Epoch 60/100
1372/1372 - 26s - loss: 0.2022 - accuracy: 0.9240 - val_loss: 1.4685 - val_accuracy: 0.7011
Epoch 61/100
1372/1372 - 23s - loss: 0.1976 - accuracy: 0.9264 - val_loss: 1.4903 - val_accuracy: 0.6991
Epoch 62/100
1372/1372 - 23s - loss: 0.2013 - accuracy: 0.9247 - val_loss: 1.5150 - val_accuracy: 0.6919
Epoch 63/100
1372/1372 - 23s - loss: 0.2030 - accuracy: 0.9242 - val_loss: 1.4783 - val_accuracy: 0.7038
Epoch 64/100
1372/1372 - 24s - loss: 0.2007 - accuracy: 0.9244 - val_loss: 1.4938 - val_accuracy: 0.7061
Epoch 65/100
1372/1372 - 23s - loss: 0.1971 - accuracy: 0.9268 - val_loss: 1.4867 - val_accuracy: 0.7071
Epoch 66/100
1372/1372 - 23s - loss: 0.1971 - accuracy: 0.9262 - val_loss: 1.6003 - val_accuracy: 0.6909
Epoch 67/100
1372/1372 - 23s - loss: 0.1983 - accuracy: 0.9264 - val_loss: 1.5532 - val_accuracy: 0.6978
Epoch 68/100
1372/1372 - 23s - loss: 0.1964 - accuracy: 0.9264 - val_loss: 1.5948 - val_accuracy: 0.7005
Epoch 69/100
1372/1372 - 23s - loss: 0.1956 - accuracy: 0.9267 - val_loss: 1.5360 - val_accuracy: 0.7023
Epoch 70/100
1372/1372 - 23s - loss: 0.1959 - accuracy: 0.9254 - val_loss: 1.5846 - val_accuracy: 0.6909
Epoch 71/100
1372/1372 - 23s - loss: 0.1968 - accuracy: 0.9265 - val_loss: 1.5659 - val_accuracy: 0.6985
Epoch 72/100
1372/1372 - 23s - loss: 0.1963 - accuracy: 0.9269 - val_loss: 1.5893 - val_accuracy: 0.6930
Epoch 73/100
1372/1372 - 23s - loss: 0.1936 - accuracy: 0.9284 - val_loss: 1.5713 - val_accuracy: 0.7001
Epoch 74/100
1372/1372 - 23s - loss: 0.1912 - accuracy: 0.9297 - val_loss: 1.6561 - val_accuracy: 0.6843
Epoch 75/100
1372/1372 - 22s - loss: 0.1922 - accuracy: 0.9275 - val_loss: 1.6844 - val_accuracy: 0.6876
Epoch 76/100
1372/1372 - 23s - loss: 0.1903 - accuracy: 0.9283 - val_loss: 1.5895 - val_accuracy: 0.7001
Epoch 77/100
1372/1372 - 24s - loss: 0.1882 - accuracy: 0.9293 - val_loss: 1.6003 - val_accuracy: 0.6962
Epoch 78/100
1372/1372 - 24s - loss: 0.1902 - accuracy: 0.9285 - val_loss: 1.6185 - val_accuracy: 0.6935
Epoch 79/100
1372/1372 - 23s - loss: 0.1902 - accuracy: 0.9287 - val_loss: 1.6309 - val_accuracy: 0.6919
Epoch 80/100
1372/1372 - 22s - loss: 0.1917 - accuracy: 0.9290 - val_loss: 1.6517 - val_accuracy: 0.6990
Epoch 81/100
1372/1372 - 23s - loss: 0.1898 - accuracy: 0.9288 - val_loss: 1.6345 - val_accuracy: 0.6985
Epoch 82/100
1372/1372 - 23s - loss: 0.1886 - accuracy: 0.9288 - val_loss: 1.6346 - val_accuracy: 0.6983
Epoch 83/100
1372/1372 - 23s - loss: 0.1902 - accuracy: 0.9285 - val_loss: 1.6869 - val_accuracy: 0.6837
Epoch 84/100
1372/1372 - 22s - loss: 0.1864 - accuracy: 0.9295 - val_loss: 1.6735 - val_accuracy: 0.6975
Epoch 85/100
1372/1372 - 22s - loss: 0.1850 - accuracy: 0.9305 - val_loss: 1.7189 - val_accuracy: 0.6928
Epoch 86/100
1372/1372 - 23s - loss: 0.1873 - accuracy: 0.9292 - val_loss: 1.7074 - val_accuracy: 0.6822
Epoch 87/100
1372/1372 - 23s - loss: 0.1867 - accuracy: 0.9301 - val_loss: 1.7138 - val_accuracy: 0.6887
Epoch 88/100
1372/1372 - 23s - loss: 0.1832 - accuracy: 0.9321 - val_loss: 1.7180 - val_accuracy: 0.6916
Epoch 89/100
1372/1372 - 23s - loss: 0.1847 - accuracy: 0.9304 - val_loss: 1.7367 - val_accuracy: 0.6807
Epoch 90/100
1372/1372 - 23s - loss: 0.1831 - accuracy: 0.9317 - val_loss: 1.7213 - val_accuracy: 0.6896
Epoch 91/100
1372/1372 - 24s - loss: 0.1856 - accuracy: 0.9302 - val_loss: 1.7062 - val_accuracy: 0.6962
Epoch 92/100
1372/1372 - 23s - loss: 0.1866 - accuracy: 0.9297 - val_loss: 1.7516 - val_accuracy: 0.6851
Epoch 93/100
1372/1372 - 24s - loss: 0.1827 - accuracy: 0.9322 - val_loss: 1.7264 - val_accuracy: 0.6891
Epoch 94/100
1372/1372 - 24s - loss: 0.1836 - accuracy: 0.9306 - val_loss: 1.7108 - val_accuracy: 0.6949
Epoch 95/100
1372/1372 - 23s - loss: 0.1803 - accuracy: 0.9323 - val_loss: 1.7654 - val_accuracy: 0.6845
Epoch 96/100
1372/1372 - 23s - loss: 0.1849 - accuracy: 0.9307 - val_loss: 1.7316 - val_accuracy: 0.6912
Epoch 97/100
1372/1372 - 23s - loss: 0.1813 - accuracy: 0.9317 - val_loss: 1.7431 - val_accuracy: 0.6885
Epoch 98/100
1372/1372 - 23s - loss: 0.1798 - accuracy: 0.9314 - val_loss: 1.7819 - val_accuracy: 0.6893
Epoch 99/100
1372/1372 - 23s - loss: 0.1821 - accuracy: 0.9311 - val_loss: 1.7718 - val_accuracy: 0.6889
Epoch 100/100
1372/1372 - 23s - loss: 0.1782 - accuracy: 0.9320 - val_loss: 1.7900 - val_accuracy: 0.6876

In [21]:
# predict values
pred = model.predict_proba(test_padded)

WARNING:tensorflow:From <ipython-input-21-9e01c6cf1b05>:2: Sequential.predict_proba (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use `model.predict()` instead.

In [22]:
pred

array([[1.9217322e-11, 1.0657001e-03, 3.6651248e-01, 6.3242185e-01,
        1.0029633e-10],
       [5.6270674e-06, 2.2112215e-03, 9.3159889e-04, 9.9684441e-01,
        7.1080781e-06],
       [1.0000000e+00, 7.1525151e-16, 4.5353072e-18, 3.2461979e-19,
        3.8889053e-15],
       ...,
       [6.1654626e-13, 1.0000000e+00, 1.9514051e-13, 3.1563524e-13,
        6.4095347e-18],
       [6.5121075e-11, 1.0000000e+00, 4.0540352e-13, 3.4949284e-14,
        2.8960204e-11],
       [1.0000000e+00, 8.5089526e-19, 2.2025474e-17, 3.6213160e-17,
        1.4860668e-16]], dtype=float32)

제출

In [23]:
# submission
sample_submission[['0','1','2','3','4']] = pred
sample_submission

       index             0  ...             3             4
0          0  1.921732e-11  ...  6.324219e-01  1.002963e-10
1          1  5.627067e-06  ...  9.968444e-01  7.108078e-06
2          2  1.000000e+00  ...  3.246198e-19  3.888905e-15
3          3  2.225493e-16  ...  8.120219e-19  3.940853e-05
4          4  1.244883e-02  ...  9.875512e-01  2.146003e-16
...      ...           ...  ...           ...           ...
19612  19612  4.287311e-07  ...  2.034445e-16  3.750827e-28
19613  19613  2.584100e-06  ...  6.792680e-37  9.999974e-01
19614  19614  6.165463e-13  ...  3.156352e-13  6.409535e-18
19615  19615  6.512108e-11  ...  3.494928e-14  2.896020e-11
19616  19616  1.000000e+00  ...  3.621316e-17  1.486067e-16

[19617 rows x 6 columns]

In [24]:
sample_submission.to_csv('submission.csv', index = False, encoding = 'utf-8')